{% extends "base.html" %}
{% block title %}TekHub - Resources{% endblock %}
{% block content %}
<h1>Educational Resources</h1>
<ul>
    <li><a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a></li>
    <li><a href="https://www.coursera.org/" target="_blank">Coursera</a></li>
    <li><a href="https://www.edx.org/" target="_blank">edX</a></li>
    <li><a href="https://www.codecademy.com/" target="_blank">Codecademy</a></li>
</ul>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
  title="YouTube video" frameborder="0" allowfullscreen></iframe>
{% endblock %}